<script type="text/template" id="deploy-template">
    <a href="#" v-on:click.prevent="$emit('click')" class="deploy">
        <span
            class="glyphicon glyphicon-remove canceled text-danger"
            v-if="deploy.status == 'canceled'">
        </span>
        <span
            class="glyphicon glyphicon-ok done text-success"
            v-else-if="deploy.status == 'done'">
        </span>
        <span
            class="glyphicon glyphicon-refresh active text-primary"
            v-else>
        </span>
        <p>
            <strong>{{ deploy.owner }}/{{ deploy.repository}}</strong>
            <small v-if="deploy.pull_request_id">PR #{{ deploy.pull_request_id }}</small>
        </p>
        <p class="infos">
            #{{ deploy.id }} opened on {{ deploy.create_date }} by {{ deploy.user.login }}
        </p>
    </a>
</script>
